In [6]:
# -*- coding: utf-8 -*-
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np

dataframe = pd.DataFrame(np.random.randint(0,100, size=(15,4)), columns=list('ABCD'))

dataframe

     A   B   C   D
0   85  20  70  85
1   21  48  25  67
2    5  55  81  35
3   28  25  75  99
4   44  27  76   8
5   62  39  36  96
6   75   9  21  43
7   54  56  19  24
8    7  34  90  37
9    1  98  36  50
10  58  55  65  24
11  52  85  24  69
12  69  54   3   8
13  20  78  72  88
14  66  74  33  29

In [33]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go

#plot([go.Scatter(x=[1, 2, 3], y=[3, 1, 6])])

print (__version__) # requires version >= 1.9.0

import pandas as pd 

df = pd.DataFrame(np.random.randint(0,8, size=(100,5)), columns=list(['Score1', 'Score2', 'Score3', 'Score4', 'Color']))

df
data = [
    go.Parcoords(
        line = dict(color = df['Color'],
                   colorscale = [[0,'#000000'],[0.5,'#FFFF00'],[1,'#FF00FF']]),
        dimensions = list([
            dict(range = [0,8],
                constraintrange = [4,8],
                label = 'Score1', values = df['Score1']),
            dict(range = [0,8],
                label = 'Score2', values = df['Score2']),
            dict(range = [0,8],
                label = 'Score3', values = df['Score3']),
            dict(range = [0,8],
                label = 'Score4', values = df['Score4'])
        ])
    )
]

layout = go.Layout(
    plot_bgcolor = '#E5E5E5',
    paper_bgcolor = '#E5E5E5'
)

fig = go.Figure(data = data, layout = layout)
plot(fig)
print(df)

3.3.0
    Score1  Score2  Score3  Score4  Color
0        1       2       7       6      1
1        6       1       6       4      1
2        3       5       2       7      0
3        7       2       6       1      3
4        2       4       7       5      4
5        3       6       5       3      4
6        3       3       7       3      7
7        1       1       0       4      7
8        5       6       7       7      2
9        2       3       6       5      7
10       1       4       2       4      1
11       4       0       5       3      4
12       3       7       0       4      4
13       7       6       7       1      2
14       6       6       3       2      3
15       7       7       3       5      0
16       2       4       7       1      7
17       5       6       2       4      5
18       5       3       2       5      3
19       2       7       0       2      7
20       5       3       7       2      2
21       2       0       0       2      7
22       4       1       4       7      1
23       3       5       5       4      7
24       2       7       7       0      5
25       4       3       5       1      2
26       5       5       3       3      5
27       3       0       5       3      0
28       7       2       5       6      1
29       7       1       1       3      2
..     ...     ...     ...     ...    ...
70       2       2       3       2      2
71       2       2       4       7      0
72       3       0       0       2      1
73       1       1       4       7      2
74       0       4       3       1      5
75       1       2       3       0      5
76       0       5       1       7      5
77       2       4       5       7      3
78       2       4       4       1      1
79       2       5       3       2      3
80       0       0       1       7      3
81       2       3       1       4      6
82       7       5       4       0      2
83       6       4       7       7      4
84       6       1       5       7      3
85       1       4       2       3      5
86       6       2       3       4      3
87       5       2       1       6      1
88       7       5       6       0      1
89       7       0       4       5      4
90       0       0       3       3      3
91       6       6       3       6      7
92       3       3       7       0      3
93       1       7       5       6      6
94       3       5       2       0      4
95       6       3       5       4      7
96       2       3       5       4      6
97       5       6       4       6      2
98       7       6       2       5      5
99       5       0       4       0      1

[100 rows x 5 columns]